@font-face {
	font-family: 'myFont';
	src: url('../assets/fonts/myFont.ttf') format('truetype');
}

html{
    overflow: hidden;
    font-family: 'myFont';
}
html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body { 
    background-image: url('../assets/image/cat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
} 
.header {
    background-color: rgb(34, 34, 62, 0.6);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
    color: white;
    font-family: url ('../assets/fonts/fonts/mr_kindlyjasmineg.woff2');
}

.menu li{
    color: white;
    font-size: 35px;
}

.text {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 160px;
    left: 930px;
    color: white;
    font-size: 26px;
}
