@font-face {
	font-family: 'myFont';
	src: url('../assets/fonts/myFont.ttf') format('truetype');
}

html{
    overflow: hidden;
    font-family: 'myFont';
}
html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body { 
     
}

.wrapper {
    background-image: url('../assets/image/cat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.wrapper.planets {
    background-image: url('../assets/image/planet.jpg');
}
.header {
    background-color: rgb(34, 34, 62, 0.6);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
    color: white;
}

.menu li{
    font-size: 35px;
    padding: 13px;
    transition: all 0.3s linear;
}

.menu li a{
    color: white;
    text-decoration: none;
    transition: all 0.3s linear;
}

.menu li a:hover {
color:#c818c1 ;

}
.menu li:hover {
    background: #8e8ac15c;
}

.text {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 31%;
    right: 2%;
    color: white;
    font-size: 39px;
    
}

